.header {
	background: linear-gradient(135deg, rgb(251, 105, 105) 0%, rgb(185, 212, 232) 100%);
	/*background: linear-gradient(135deg, rgb(251, 105, 105) 0%, rgb(185, 212, 232) 50%);*/
}

.category-list .nav-link {
    padding: .1rem 0rem;
    font-size: 14px;
    font-weight: 300;
    color: #6a686f;
}