{% extends "posts/base.html" %}

{% block content %}

	<div>
		{% for post in post_list %}
			<div class="post-excerpt border-bottom pb-4 pt-4">
				<h2 class="h3">
					<a class="post-title text-dark" href="/post/{{post.id}}">{{post.title}}</a>
				</h2>

				<p class="text-black-50">
					{{post.pub_date|date:"N j o"}}
				</p>

				<div class="post-description text-muted">
					{{post.description|truncatechars:200}}
				</div>

				{% if post.description|length > 100 %}
					<a href="/post/{{post.id}}">Read more...</a>
				{% endif %}

			</div>
		{% endfor %}

		<div class="pagination">
			<ul class="nav">
				{% for page in pagination_items %}
					<li class="nav-item">
						<a class="nav-link" href="/posts/{{page}}">{{page}}</a>
					</li>
				{% endfor %}
			</ul>
			

		</div>
	</div>

{% endblock %}

{% block sidebar %}

	<h5>Categories</h5>

	<ul class="nav flex-column">
		{% for category in category_list %}
			<li class="nav-item">
				<a class="nav-link" href="">{{category.name}}</a>
			</li>
		{% endfor %}
	</ul>


	<h5 class="mt-5">Tags</h5>

	<ul class="nav flex-column">
		{% for tag in tag_list %}
			<li class="nav-item">
				<a class="nav-link" href="">{{tag.name}}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}