{% extends "posts/base.html" %}

{% block content %}

	<a class="badge badge-primary" href="/posts/1/">Back</a>


	<p class="text-black-50 mt-4">
		{{post.pub_date|date:"N j o"}}
	</p>

	<h1 class=" mb-4">{{post.title}}</h1>

	<div>
		{{post.description}}
	</div>

{% endblock %}


{% block sidebar %}

	<h5>Categories</h5>

	<ul class="nav flex-column">
		{% for category in category_list %}
			<li class="nav-item">
				<a class="nav-link" href="">{{category.name}}</a>
			</li>
		{% endfor %}
	</ul>


	<h5 class="mt-5">Tags</h5>

	<ul class="nav flex-column">
		{% for tag in tag_list %}
			<li class="nav-item">
				<a class="nav-link" href="">{{tag.name}}</a>
			</li>
		{% endfor %}
	</ul>

{% endblock %}